.product__container {
  min-width: 150px;
  padding: 0 10px;

  height: 436px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__title {
  color: #000;
  font-size: 23px;
}
.product-image {
  width: 200px;
  height: 280px;
}

.product-button {
  width: 124px;
  background: #000;
  border-radius: 9px;
  border: 1px solid;
  color: #fff;
  /* cursor: pointer; */
  font-size: 12px;
  padding: 5px;
}
.product-cost {
}
