.product__container {
  min-width: 150px;
  max-width: 300px;
  padding: 0 10px;

  height: 436px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__title {
  color: #000;
  font-size: 23px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 190px;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 150px;
}
.product-image {
  width: inherit;
}

.product-button {
  width: 124px;
  background: #1f2326;
  border-radius: 9px;
  border: 1px solid;
  color: #fff;
  font-size: 12px;
  padding: 5px;
}

.product-button_add,
.product-button_edit,
.product-button_save {
  cursor: pointer;
}
.product-button_edit,
.product-button_save {
  margin-top: 15px;
  height: 40px;
  width: 200px;
}
.product-button_is-edit {
  display: none;
}
.product-cost {
}

.edit__container {
  padding: 0 50px;
  margin-top: 30px;
}

.edit-form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.edit-field {
  margin-top: 10px;
  padding: 5px;
}

.edit-field_description {
  resize: none;
}
