.todo-item {
  margin-top: 12px;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #979797;
  position: relative;
  overflow-wrap: anywhere;
}

.item-img__container {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
}

.img-favorite,
.img-complete {
  width: 12px;
  height: 12px;
  cursor: pointer;
}
.img-menu {
  width: 15px;
  height: 20px;
}

.todo-button_item {
  margin-left: 2px;
  width: 24px;
  background: white;
  display: flex;
  align-items: center;
  height: 20px;
  border: none;
  cursor: pointer;
  padding-left: 4px;
}

.todo-edit__container {
  width: 79%;
  padding-bottom: 5px;
}

.todo-edit-input {
  width: 95%;
}
